@media (max-width: 1439px) {
	.title {
		font-size: 60px;
	}
}
@media (max-width: 1367px) {
	.title {
		font-size: 55px;
	}
}
@media (max-width: 1199px) {
	.title {
		font-size: 50px;
	}
	.heading-box {
		margin-bottom: 50px;
	}
	.heading {
		font-size: 40px;
	}
	.heading3 {
		font-size: 32px;
	}
	.heading4 {
		font-size: 29px;
	}

}
@media (max-width: 991px) {
	img{
		width: 100%;
	}
	.title {
		font-size: 48px;
	}
	.heading-box {
		margin-bottom: 45px;
	}
	.heading {
		font-size: 38px;
	}
	.heading3 {
		font-size: 30px;
	}
	.heading4 {
		font-size: 27px;
	}
}
@media (max-width: 767px) {
	.title {
		font-size: 42px;
	}
	.heading-box {
		margin-bottom: 40px;
	}
	.heading {
		font-size: 36px;
	}
	.heading3 {
		font-size: 27px;
	}
	.heading4 {
		font-size: 24px;
	}
}
@media (max-width: 600px) {
}
@media (max-width: 575px) {
	img {
		width: 100%;
	}

	.heading {
		font-size: 29px;
	}
	.heading3 {
		font-size: 26px;
	}
	.heading4 {
		font-size: 22px;
	}
}
@media (max-width: 480px) {
	.heading {
		font-size: 24px;
	}
	.heading3 {
		font-size: 22px;
	}
	.heading4 {
		font-size: 19px;
	}
}
@media (max-width: 375px) {
	.heading4 {
		font-size: 17px;
	}
	img {
		width: 100%;
	}
}
